.arrows_block{
    margin-bottom: 15px;
    padding: 10px;
}


.arrow{

}

.counter{
}

.arrows_block_item{
    width: 32%;
}

.back{
    float: left;
    /*margin-left: 25px;*/
}
.next{
    float: right;
    /*margin-right: 25px;*/
}
